apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: accident-api
  namespace: gen-lang-client-0354690158
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "3"
    spec:
      containerConcurrency: 80
      containers:
        - name: api
          image: europe-west10-docker.pkg.dev/gen-lang-client-0354690158/mlops02476-accident-images-eu-7f3a/app:latest
          env:
            - name: MODEL_CHECKPOINT
              value: gs://mlops02476-weights-6789/weights/best.pt
            - name: LOG_BUCKET
              value: mlops02476-api-logs-eu-0f48
          ports:
            - name: http1
              containerPort: 8000
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.93.0
          command:
            - /otelcol-contrib
          args:
            - --set=receivers.prometheus.config.scrape_configs[0].job_name=accident-api
            - --set=receivers.prometheus.config.scrape_configs[0].scrape_interval=30s
            - --set=receivers.prometheus.config.scrape_configs[0].metrics_path=/metrics
            - --set=receivers.prometheus.config.scrape_configs[0].static_configs[0].targets=["127.0.0.1:8000"]
            - --set=processors.batch.timeout=10s
            - --set=processors.batch.send_batch_size=512
            - --set=exporters.googlecloud.project=gen-lang-client-0354690158
            - --set=exporters.googlecloud.metric.prefix=
            - --set=service.pipelines.metrics.receivers=["prometheus"]
            - --set=service.pipelines.metrics.processors=["batch"]
            - --set=service.pipelines.metrics.exporters=["googlecloud"]
          env:
            - name: GOOGLE_CLOUD_PROJECT
              value: gen-lang-client-0354690158
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
