
numpy
pandas
scikit-learn
matplotlib
tqdm
pyyaml
rich
typer
dvc

hydra-core==1.3.2
omegaconf==2.3.0
wandb
pytest
pytest-cov
ruff
black
isort
pre-commit
fastapi
uvicorn[standard]
httpx
python-multipart
gcsfs

opencv-python-headless
